:root {
  --background-color: white;
  --text-color: black;
  --primay-color: #4cb3d4;
  --heading-anchor: ' #';
  --external-link-anchor: ' ⬈';
  --table-hover-color: #eef9fd;
  --code-background: #f6f7f8;
  --code-border-radius: 0.4rem;
  --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  --code-font-size: 90%;
  --code-padding-vertical: 0.1rem;
  --code-padding-horizontal: 0.1rem;
  --copy-button-right: 12px;
  --copy-button-top: 12px;
  --copy-button-border-color: #8080807a;
  --copy-button-success-color: #00d600;
  --copy-button-border-radius: 6px;
  --admonition-border-radius: 0.4rem;
  --admonition-border-left-width: 5px;
  --admonition-border-width: 0px;
  --admonition-border-style: solid;
  --admonition-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
  --admonition-padding: 1rem 1rem;
  --admonition-mb: 1rem;
  --admonition-info-bg-color: #eef9fd;
  --admonition-info-border-color: #4cb3d4;
  --admonition-info-fg-color: #193c47;
  --admonition-info-link-color: #4cb3d4;
  --admonition-info-code-bg-color: #54c7ec26;
  --admonition-note-bg-color: #ebedf026;
  --admonition-note-border-color: #d4d5d8;
  --admonition-note-fg-color: #474748;
  --admonition-note-link-color: #898989;
  --admonition-note-code-bg-color: #ebedf026;
  --admonition-tip-bg-color: #e6f6e6;
  --admonition-tip-border-color: #009400;
  --admonition-tip-fg-color: #003100;
  --admonition-tip-link-color: #009400;
  --admonition-tip-code-bg-color: #00a40026;
  --admonition-caution-bg-color: #fff8e6;
  --admonition-caution-border-color: #e6a700;
  --admonition-caution-fg-color: #4d3800;
  --admonition-caution-link-color: #e6a700;
  --admonition-caution-code-bg-color: #ffba0026;
  --admonition-danger-bg-color: #ffebec;
  --admonition-danger-border-color: #e13238;
  --admonition-danger-fg-color: #4b1113;
  --admonition-danger-link-color: #e13238;
  --admonition-danger-code-bg-color: #fa383e26;
}